.circles{
    margin: 35px;
    width: 400px;
}

#red{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
}

#green{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
}

#blue{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: blue;
}